.login_button_password {
  min-height: 38px !important;
}

#password_eye_button:hover {
  cursor: pointer;
}
.password_eye_button:hover {
  cursor: pointer;
}

#toastr-container {
  position: fixed;
  z-index: 999999;
  pointer-events: none;
}

.toastr-top-right {
  top: 12px;
  right: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px !important;
}

.select2-container .select2-selection--single {
  height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 6px !important;
}

.main-cmn-back-btn {
  display: flex;
  line-height: normal;
  font-size: 16px;
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: solid 0.5px #dfdfdf;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.33, 1, 0.68, 1);
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  margin-right: 10px !important;
}

.main-cmn-back-btn:hover svg,
.main-cmn-back-btn:hover i {
  transform: translateX(-2px);
  transition: all 400ms cubic-bezier(0.33, 1, 0.68, 1);
  color: #000;
}

.bg-style1{
  background: linear-gradient(47deg, rgba(39, 111, 161, 1) 0%, rgba(150, 193, 231, 1) 100%);
}
.bg-style2{
  background: linear-gradient(227deg, rgb(152 208 219) 0%, rgba(94, 161, 177, 1) 99%);
}
.bg-style3{
  background: linear-gradient(9deg, rgba(106, 82, 245, 1) 0%, rgba(169, 113, 240, 1) 97%);
}
.bg-style4{
  background: linear-gradient(84deg, rgba(232, 123, 80, 1) 0%, rgba(235, 160, 93, 1) 93%);
}
.bg-style5{
  background: linear-gradient(84deg, rgba(152, 208,219,1) 0%, rgba(235, 160, 93, 1) 93%);
}
.mp_business_card_outer .mp_business_card_inner:nth-child(odd) .bg-style1{
  background: #613d94 !important;
}
.mp_business_card_outer .mp_business_card_inner:nth-child(even) .bg-style1{
  background: #ed9543 !important;
}
.symbol.symbol-circle, .symbol.symbol-circle .symbol-label, .symbol.symbol-circle > img {
  border-radius: 50%;
}
.symbol {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.75rem;
}
#scroll_message_div {
  max-height: 230px !important;
  overflow: scroll !important;
}
.modal-lg{
  min-width: 1000px !important;
}
.preview-thumbnail h4 {
  padding-top: 15px !important;
  margin-bottom: 15px !important;
}
.ps-12 {
  padding-left: 3rem !important;
}
.bi-bell{
  font-size: 28px !important;
}
.notification_count {
    margin-left: -1rem;
    font-size: 20px;
    padding: 0;
    top: 5px !important
}
.badge-circle {
  border-radius: 50%;
  padding: 4px;
  min-width: unset;
  width: 1.75rem;
}
.read-only {
  background-color: #e9ecef;
  pointer-events: none;
}
.initials-circle {
  width: 50px;
  height: 50px;
  font-size: 20px;
}
#progressbar {
  width: 100%;
  /* width: 80%; */
  margin: 0 auto 30px;
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
}
#progressbar li a {
  text-align: center;
  list-style-type: none;
  color: #000;
  text-transform: uppercase;
  font-size: 11px;
  width: 16%;
  float: left;
  position: relative;
  font-weight: bold;
}
#progressbar li a.active:before, #progressbar li a.active:after {
    background: #000;
    color: white;
}

#progressbar li a:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #000;
    background: #d5d2d2;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    position: relative;
    z-index: 5;
}
.spinner-border {
  --bs-spinner-width: 2rem;
  --bs-spinner-height: 2rem;
  --bs-spinner-vertical-align: -0.125em;
  --bs-spinner-border-width: 0.185rem;
  --bs-spinner-animation-speed: 0.65s;
  --bs-spinner-animation-name: spinner-border;
  border: var(--bs-spinner-border-width) solid currentcolor;
  border-right-color: transparent;
}

.spinner-border, .spinner-grow {
  display: inline-block;
  width: var(--bs-spinner-width);
  height: var(--bs-spinner-height);
  vertical-align: var(--bs-spinner-vertical-align);
  border-radius: 50%;
  animation: var(--bs-spinner-animation-speed) linear infinite var(--bs-spinner-animation-name);
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.dataTables_wrapper .dataTables_filter {
  margin-bottom: 25px;
  margin-left: 15px;
}